details {
    font: 16px "Open Sans", Calibri, sans-serif;
    margin: 6px;
    }
    
    .examples {
    background-color: rgb(24, 9, 58);
    }
    
    .console {
    background-color: rgb(0, 58, 45);
    }
    
    details > summary {
    padding: 6px;
    border: none;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    }
    
    details > p {
    padding: 6px;
    box-shadow: 1px 1px 1px black;
    }
    
    details[open] > summary {
    padding: 12px;
    }
    